<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <button class="buttonColor"> Button</button>
    <ion-button color="danger" class="wideButton"> Other button </ion-button>
    <img src="../../assets/icon/Cookie.jpg">
    <ion-select aria-label="pie" placeholder="select the best pie"> 
      <ion-select-option value="apple"> Apple </ion-select-option>
      <ion-select-option value="pi"> Pi </ion-select-option>
    </ion-select>
  </div>
</ion-content>
